.venv/
venv/
__pycache__/
*.pyc
.DS_Store
.vscode/
ersMSOneDriveDesktopSmartEnergyMonitor*
git
in parentheses indicate the behavior if N is given.
marked with __pycache__ dashboard.py ersMSOneDriveDesktopSmartEnergyMonitor*
slbackend=openssl
tes in parentheses indicate the behavior if N is given.
